/*  your css code here. If applicable */
#testimonials {
	background: #f5f5f5;
	padding: 30px;
}

#title {
	padding-left: 20px;
}

.testimonial {
	background: #fff;
	padding: 5px 20px;
	margin: 20px;
}

.author {
	text-align: right;
}